* { box-sizing: border-box; }


main::after{
    content: "";
    display: table;
    clear: both;
}

/* 속성 선택자  */
/* [속성명 = "속성값"]  - 해당하는 속성값과 동일할 경우 아래의 css 속성 적용*/
/* 
= : 속성값이 동일할 경우 적용
~= : 속성값이 포함된 경우 적용 (동일한 단어기준)
\= : 속성값으로 시작하는 경우 적용 (동일한 단어나 단어- 일 경우 가능)
    ex) class| = "col" -> <h1 class = "col"> 가능
    ex) class| = "col" -> <h1 class = "col-abc"> 가능
    ex) class| = "col" -> <h1 class = "col abc"> 불가능
^= : 속성값으로 시작하는 경우 적용 (문자열 기준)
    ex) class| = "col" -> <h1 class = "col"> 가능
    ex) class| = "col" -> <h1 class = "col-abc"> 가능
    ex) class| = "col" -> <h1 class = "col abc"> 가능
$= : 속성값으로 끝나는 경우 적용 (문자열 기준)
*= : 속성값이 포함된 경우 적용 (문자열 기준 )
 */

 /* 속성 선택자를 사용, class*="col- 는 속성이 class 이고 값이 col- 가 포함된 경우 적용 */
[class*="col-"] {
    float: left;
    padding: 15px;
}

header {
    background-color: #9933cc;
    color: white;
    padding: 15px;
}

main .menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

main .menu li {
    padding: 8px;
    margin-bottom: 8px;
    background-color:#33b5b5 ;
    color: white;
    /*  box-shadow : 좌우측 그림자 크기, 상하측 그림자크기, 흐림정도, 색상 */
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4), 0px 1px 5px rgba(0, 0, 0, 0.24);
}

main .menu li:hover{
    background-color: #0099cc;
}

.right {
    background-color: #33b5b5;
    padding: 15px;
    color: white;
    text-align: center;
    font-size: 14px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
}

footer {
    background-color: #0099cc;
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}

/* 스마트폰 화면 */
/* 디바이스의 최소 너비가 600px 미만일 경우 아래의 css 속성 적용 */

[class*="col-"]{ 
    /* 기본값으로 사용됨 */
    width: 100%; 
}

/* 테블릿 화면 */
/* 디바이스의 최소 너비가 600px 가지는 아래의 css적용 */
@media only screen and(min-width:600px){
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}


/* 데스크탑 화면 */
/* 미디어 쿼리를 사용하여 디바이스의 화면 크기에 따라 css 속성을 변경하여 출력함 */
/* @media : 미디어쿼리를 사용한다는 의미 */
/* only : 조건을 사용한다는 의미  */
/* screen : 디바이스의 종류 */
/* and : 조건 추가  */
/* (min-width:600px) : 디바이스의 최소 너비가 768px 보다 클 경우 아래의 css적용(최소 너비가  768px 까지)  */

@media only screen and (min-width:768px){
    /* grid 시스템을 적용하여 화면의 너비를 설정한 내용 */
    /* grid 시스템 : 웹의 화면을 총 12개의 column을 나누어서 화면을 디자인 하는 방식 */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

